.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    ". . ."
    ". . .";
}

.Header {  
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 1fr;
  grid-template-rows: 1fr 0.9fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Title Title"
    "Logo Nav-Bar Nav-Bar"
    ". . .";
  grid-area: Header;
}

.Logo { 
  grid-area: Logo; 
  background
}

.Title {
  display: grid;
  grid-template-columns: 1.5fr 0.9fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "Bank-Title Name Button"
    ". . .";
  grid-area: Title;
}

.Bank-Title { 
  grid-area: Bank-Title;
}

.Name { 
  grid-area: Name; 
  text-align:right;
}

.Button { 
  grid-area: Button;
  text-align:center;
}

.Nav-Bar { 
  grid-area: Nav-Bar; 
  
}
